<Checkbox
  @id="selectAll"
  @indeterminate={{this.isSelectAllIndeterminate}}
  @checked={{this.isSelectAllChecked}}
  @handleClick={{this.toggleSelectionAllFiles}}
/>
{{#if (eq this.selectedFileCount 0) }}
  <span>None Selected</span>
{{else}}
  <span>Selected: {{this.selectedFileCount}}</span>
{{/if}}
<Download />